*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial;
}

.container{
    /* background-color: magenta; */
    margin: 50px auto;
    width: 90%;
    height: 500px;      
    background-image: linear-gradient(rgba(0, 0, 0, 0.333),rgba(255, 0, 0, 0.267)),url(spider.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 200px;
    color: white;
  /*  background-image: url(spider.png);
    background-repeat: no-repeat; /*repeat para repetir la imagen repeat-x para repetir en eje x repeat-y solo en eje y*/
     /*  background-position: center;*/  /*top-left-right-bottom-center Se pueden usar dos valores juntos*/
     /*  background-size: contain; /* Puede ser un valor o dos para el ancho y largo*/ /*cover-contain*/ 

}

/* .title{
    font-size: 42px;
    color: hsl(210, 100%, 50%);
    hue 0-360 saturation 0 al 100% lumi 0 a 100% 
} 
*/